{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Résultat{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<h2>Voici les gites dans la ville de votre choix :</h2>
<div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
    {% if not gites_city %}
        <p>Aucun gite n'a été trouvé.</p>
    {% else %}
        {% for gite_city in gites_city %}
            <div class="col">
            <a href="{{ path('app_show_one_gite', {'id': gite_city.id}) }}" class="text-reset text-decoration-none">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('{{gite_city.image}}'); background-size : cover; background-repeat: no-repeat">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{gite_city.title}}</h2>
                <ul class="d-flex list-unstyled mt-auto">
                    <li class="d-flex align-items-center me-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                        <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    </svg>
                    <small>{{gite_city.city ~", "~ gite_city.city.departmentCode.code}}</small>
                    </li>
                </ul>
                </div>
            </div>
            </a>
            </div>
        {% endfor %}
    {% endif %}
</div>
<h2>Pour élargir votre recherche, voici les gites dans le même département :</h2>
<div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
    {% if not gites_department %}
        <p>Aucun gite n'a été trouvé.</p>
    {% else %}
        {% for gite_department in gites_department %}
            <div class="col">
            <a href="{{ path('app_show_one_gite', {'id': gite_department.id}) }}" class="text-reset text-decoration-none">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('{{gite_department.image}}'); background-size : cover; background-repeat: no-repeat">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{gite_department.title}}</h2>
                <ul class="d-flex list-unstyled mt-auto">
                    <li class="d-flex align-items-center me-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                        <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    </svg>
                    <small>{{gite_department.city ~", "~ gite_department.city.departmentCode.code}}</small>
                    </li>
                </ul>
                </div>
            </div>
            </a>
            </div>
        {% endfor %}
    {% endif %}
</div>
<h2>Pour élargir votre recherche, voici les gites dans la même région :</h2>
<div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
    {% if not gites_region %}
        <p>Aucun gite n'a été trouvé.</p>
    {% else %}
        {% for gite_region in gites_region %}
            <div class="col">
            <a href="{{ path('app_show_one_gite', {'id': gite_region.id}) }}" class="text-reset text-decoration-none">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('{{gite_region.image}}'); background-size : cover; background-repeat: no-repeat">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{gite_region.title}}</h2>
                <ul class="d-flex list-unstyled mt-auto">
                    <li class="d-flex align-items-center me-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                        <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    </svg>
                    <small>{{gite_region.city ~", "~ gite_region.city.departmentCode.code}}</small>
                    </li>
                </ul>
                </div>
            </div>
            </a>
            </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}