{# {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }} #}

{{ form_start(form) }}
    {{ form_row(form.optionGite, {
        label: 'Choissisez l\'option'
    }) }}
    {{ form_row(form.price, {
        label: 'Prix'
    }) }}
    <button type="submit" class="btn btn-success">Enregistrer</button>
{{ form_end(form) }}